.image-frame img {
  border-radius: 50%; 
}

.text-a {
  font-size: 2em;
}

.member-card {
  margin: 3em 0;
}

.member-title {
  font-size: 1.25em;
}

.m-1 {
  margin: 1em;
}

.my-2 {
  margin: 2em 0;
}

.thin {
  font-weight: 100;
}

.text-brand {
  font-family: 'ZCOOL XiaoWei', serif;
  font-weight: 800;
}